<div class="mainContainer">
    <div class="mainContainer__loginPanel">
        <div class="mainContainer__loginPanel__icon"></div>
        <div class="mainContainer__loginPanel__label">Log in</div>
        <form class="mainContainer__loginPanel__loginInputContainer" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer" *ngIf="loginType">
                <input class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Nome..." formControlName="nome">
            </div>
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer" *ngIf="loginType">
                <input class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Cognome..." formControlName="cognome">
            </div>
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer">
                <input class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Email..." formControlName="email">
            </div>
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer">
                <input type="password" class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Password..." formControlName="password">
            </div>
            <button type="submit"  class="mainContainer__loginPanel__loginInputContainer__submitButton" *ngIf="!loginType" >Access</button>
            <button type="submit"  class="mainContainer__loginPanel__loginInputContainer__submitButton" *ngIf="loginType" >Sign Up</button>
            <div class="mainContainer__loginPanel__loginInputContainer__submitButton" (click)="changeModeLogin()" *ngIf="!loginType">Sign Up</div>
            <div class="mainContainer__loginPanel__loginInputContainer__submitButton" (click)="changeModeLogin()" *ngIf="loginType">Turn back</div>
        </form>
    </div>
</div>

<app-login-error-modal></app-login-error-modal>