<div class="mainContainer">
    <div class="mainContainer__loginPanel">
        <div class="mainContainer__loginPanel__icon"></div>
        <div class="mainContainer__loginPanel__label">Log in</div>
        <div class="mainContainer__loginPanel__loginInputContainer">
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer">
                <input class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Email...">
            </div>
            <div class="mainContainer__loginPanel__loginInputContainer__inputContainer">
                <input class="mainContainer__loginPanel__loginInputContainer__inputContainer--input" placeholder="Password...">
            </div>
            <div class="mainContainer__loginPanel__loginInputContainer__submitButton">Access</div>
        </div>
    </div>
</div>