<div class="adminPageContainer">
    <div class="adminPageContainer__topBar">
        <div class="adminPageContainer__topBar__tabMenu">
            <div class="adminPageContainer__topBar__tabMenu__tabMenuItem"
                *ngFor="let item of tabMenu; index as i"
                
                [ngClass]="{'active': item.active, 'inactive': !item.active}"
                (click)="setActive(i)"
            >{{item.label}}</div>
        </div>
        <div class="adminPageContainer__topBar__userInfo">
            <div class="adminPageContainer__topBar__userInfo--icon"></div>
            <div class="adminPageContainer__topBar__userInfo__username" (click)="logout()">Log Out</div>
        </div>
    </div>
    <div class="adminPageContainer__contentPanelContainer" [ngSwitch]="lastActive">
        <div class="adminPageContainer__contentPanelContainer__contentPanel" *ngSwitchCase="'Utenti'">
            <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer">
                <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer">
                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item" *ngFor="let item of userList; index as i">
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item--userMail" (click)="openUserDetail(item)">{{item.email}}</div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item--deleteIcon" (click)="deleteUser(item)"></div>
                    </div>
                </div>
            </div>
            <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer">
                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel" *ngIf="userDetailsFlag">

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__name-surnameInfoContainer">
                        <div class="infoContainer">
                            <div class="infoContainer--label">Nome:</div>
                            <div class="infoContainer--info">{{selectedUser.nome}}</div>
                        </div>
                        <div class="infoContainer">
                            <div class="infoContainer--label">Cognome:</div>
                            <div class="infoContainer--info">{{selectedUser.cognome}}</div>
                        </div>
                    </div>

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userEmailContainer">
                        <div class="infoContainer">
                            <div class="infoContainer--label">Email:</div>
                            <div class="infoContainer--info">{{selectedUser.email}}</div>
                        </div>
                    </div>

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer">
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer">
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable">
                                
                                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader">
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column">Order id</div>
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column"># of product</div>
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column">Total</div>
                                </div>

                                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer">
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item"
                                        [ngStyle]="{'background-color':tableBackground[i%2]}"
                                        *ngFor="let item of userOrderList; index as i"
                                        (click)="openOrderDetail(item, item.total_price)"
                                    >
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--orderId">{{item.id}}</div>
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--nProducts">{{orderNumProduct[i]}}</div>
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--totalPrice">${{item.total_price}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="adminPageContainer__contentPanelContainer__contentPanel" *ngSwitchCase="'Prodotti'">
            <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel">
                <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__searchBar">
                    <input type="text" [placeholder]="'Search product...'" [ngModel]="inputValue" (ngModelChange)="inputChange($event)">
                </div>
                <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer">

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard" *ngFor="let item of productList; index as i">
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard--brandName">{{item.marca}}</div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__productNameRank">
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__productNameRank--name">{{item.nome}}</div>
                        </div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard--productImage"></div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__productInfo">
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__productInfo__availability"
                                [ngStyle]="{'color': item.quantita > 0 ? 'rgb(36, 204, 36)' : 'grey'}"
                            >
                                {{item.quantita > 0 ? "Available" : "Not Available"}}
                            </div>
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__productInfo--price">€{{item.prezzo}}</div>
                        </div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard__modifyButton" (click)="openProductForEdit(item)">Edit</div>
                    </div>

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__managerProductsPanel__productListContainer__productCard buttonCard" (click)="createProduct()"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-order-details-modal [productListOfOrder]="productListOfOrder" [totalPrice]="selectedOrderTotalPrice"></app-order-details-modal>
<app-edit-produt-modal [selectedProduct]="selectedProduct" (newItemEvent)="addItem($event)"></app-edit-produt-modal>
