<div class="adminPageContainer">
    <app-page-header [mood]="'admin'"></app-page-header>

    <div class="adminPageContainer__topBar">
        <div class="adminPageContainer__topBar__tabMenu">
            <div class="adminPageContainer__topBar__tabMenu__tabMenuItem"
                *ngFor="let item of tabMenu; index as i"
                
                [ngClass]="{'active': item.active, 'inactive': !item.active}"
                (click)="setActive(i)"
            >{{item.label}}</div>
        </div>
        <div class="adminPageContainer__topBar__userInfo">
            <div class="adminPageContainer__topBar__userInfo--icon"></div>
            <div class="adminPageContainer__topBar__userInfo__username">Admin</div>
        </div>
    </div>
    <div class="adminPageContainer__contentPanelContainer" [ngSwitch]="lastActive">
        <div class="adminPageContainer__contentPanelContainer__contentPanel" *ngSwitchCase="'Utenti'">
            <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer">
                <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__searchBarContainer">
                    <input type="text" [placeholder]="'Search user...'">
                </div>
                <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer">
                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item" (click)="openUserDetail(i)" *ngFor="let item of userTestItem; index as i">
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item--userMail">{{item}}</div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userListContainer__itemListContainer__item--deleteIcon"></div>
                    </div>
                </div>
            </div>
            <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer">
                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel" *ngIf="userDetailsFlag">

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__name-surnameInfoContainer">
                        <div class="infoContainer">
                            <div class="infoContainer--label">Nome:</div>
                            <div class="infoContainer--info">Alessio</div>
                        </div>
                        <div class="infoContainer">
                            <div class="infoContainer--label">Cognome:</div>
                            <div class="infoContainer--info">Spadafora</div>
                        </div>
                    </div>

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userEmailContainer">
                        <div class="infoContainer">
                            <div class="infoContainer--label">Email:</div>
                            <div class="infoContainer--info">alessiospadafora.main@gmail.com</div>
                        </div>
                    </div>

                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer">
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__searchInputContainer">
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__searchInputContainer__inputContainer">
                                <input type="text" [placeholder]="'Search order...'">
                            </div>
                        </div>
                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer">
                            <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable">
                                
                                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader">
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column">Order id</div>
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column"># of product</div>
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__tableHeader__column">Total</div>
                                </div>

                                <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer">
                                    <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item"
                                        [ngStyle]="{'background-color':tableBackground[i%2]}"
                                        *ngFor="let item of orderTestItem; index as i"
                                        (click)="openOrderDetail(i)"
                                    >
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--orderId">{{item.id}}</div>
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--nProducts">{{item.nProd}}</div>
                                        <div class="adminPageContainer__contentPanelContainer__contentPanel__userDetailContainer__userDetailPanel__userOrderContainer__itemListContainer__itemTable__orderListContainer__item--totalPrice">${{item.price}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="adminPageContainer__contentPanelContainer__contentPanel" *ngSwitchCase="'Prodotti'">prodotti</div>
    </div>
</div>

<app-order-details-modal></app-order-details-modal>