
<div class="modalContainer" [ngStyle]="{'display': openBoolean ? 'flex' : 'none'}">
    <div class="modalContainer__modalPanel">
        <div class="modalContainer__modalPanel__itemPhotosContainer">
            <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer">
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
            </div>
        </div>
        <div class="modalContainer__modalPanel__itemDescriptionContainer">
            <div class="modalContainer__modalPanel__itemDescriptionContainer__closeButton" (click)="closeModal()"></div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__titleContainer">{{selectedItem.nome}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__brandLabel">Apple</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__descriptionArea">{{selectedItem.descrizione}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__itemPrice">${{selectedItem.prezzo}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__itemCounterContainer">
                <div class="modalContainer__modalPanel__itemDescriptionContainer__itemCounterContainer--minusButton" (click)="changeCounter(-1)"></div>
                <div class="modalContainer__modalPanel__itemDescriptionContainer__itemCounterContainer--counterLabel">{{countItem}}</div>
                <div class="modalContainer__modalPanel__itemDescriptionContainer__itemCounterContainer--plusButton" (click)="changeCounter(1)"></div>
            </div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__buttonsContainer">
                <button class="modalContainer__modalPanel__itemDescriptionContainer__buttonsContainer--button" [disabled]="countItem == 0 || itemDispo == 0" (click)="addItemToCart(selectedItem.codice)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>