
<div class="modalContainer" [ngStyle]="{'display': openBoolean ? 'flex' : 'none'}">
    <div class="modalContainer__modalPanel">
        <div class="modalContainer__modalPanel__itemPhotosContainer">
            <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer">
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
                <div class="modalContainer__modalPanel__itemPhotosContainer__changePhotoContainer--frame"></div>
            </div>
        </div>
        <div class="modalContainer__modalPanel__itemDescriptionContainer">
            <div class="modalContainer__modalPanel__itemDescriptionContainer__closeButton" (click)="closeModal()"></div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__titleContainer">{{selectedItem.nome}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__brandLabel">Apple</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__descriptionArea">{{selectedItem.descrizione}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__itemPrice">${{selectedItem.prezzo}}</div>
            <div class="modalContainer__modalPanel__itemDescriptionContainer__buttonsContainer">
                <div class="modalContainer__modalPanel__itemDescriptionContainer__buttonsContainer--button" (click)="addItemToCart(selectedItem.codice)">Add to Cart</div>
            </div>
        </div>
    </div>
</div>