<div class="pageContainer">
    <app-page-header></app-page-header>
    <div class="pageContainer__carouselContainer">
        <div class="pageContainer__carouselContainer__infoContainer">
            <div class="pageContainer__carouselContainer__infoContainer__smallHeaderContainer">Con supporto Dolby Atmos</div>
            <div class="pageContainer__carouselContainer__infoContainer__bigHeaderContainer">Cuffie Apple Pro</div>
            <div class="pageContainer__carouselContainer__infoContainer__descriptionContainer">Le cuffie Apple AirPods Pro offrono un design compatto e senza fili, con cancellazione attiva del rumore per un'esperienza audio immersiva. Con il comfort delle punte auricolari adattive e la qualità audio superiore, garantiscono un suono eccezionale in qualsiasi ambiente.
            </div>
        </div>
        <div class="pageContainer__carouselContainer__fotoContainer"></div>
    </div>
    <div class="pageContainer__helpInfoContainer">
        <div class="pageContainer__helpInfoContainer__helpItemContainer" *ngFor="let item of helpItem; index as i">
            <div class="pageContainer__helpInfoContainer__helpItemContainer--icon" [ngStyle]="{'background-image' : 'url(' + item.path + ')'}"></div>
            <div class="pageContainer__helpInfoContainer__helpItemContainer__textContainer">
                <div class="pageContainer__helpInfoContainer__helpItemContainer__textContainer--label">{{item.text}}</div>
            </div>
        </div>
    </div>
</div>