@import "../../../assets/styles/const-style.scss";

.pageContainer {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    font-family: $main_font;

    &__carouselContainer {
        width: 100%;
        height: 700px;
        display: flex;
        background: linear-gradient(45deg, rgb(150, 255, 255), rgb(5, 176, 255));
        
        &__infoContainer {
            flex: 1;
            @include flex_display(center, center, column, 10px);

            &__smallHeaderContainer {
                width: auto;
                height: 30px;
                @include flex_display(center, center, row);
                font-size: 20px;
            }

            &__bigHeaderContainer {
                max-width: 390px;
                max-height: 40px;
                width: auto;
                height: auto;
                font-size: 38px;
                @include flex_display(center, center, row);
            }

            &__descriptionContainer {
                max-width: 500px;
                max-height: 150px;
                width: auto;
                height: auto;
                word-wrap: break-word;
            }

            &__buttonContainer {
                margin-top: 30px;
                width: 160px;
                height: 40px;
                border-radius: 5px;
                background-color: coral;
                @include flex_display(center, center, row);
                color: white;
            }
        }

        &__fotoContainer {
            flex: 1;
            background-image: url('../../../assets/imgs/product_image.png');
            background-size: 460px auto;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__helpInfoContainer {
        width: 100%;
        height: 300px;
        @include flex_display(space-evenly, center, row);
        background-color: $background-color;

        &__helpItemContainer {
            border-radius: 20px;
            width: 450px;
            height: 200px;
            display: flex;
            border: solid 2px #cccccc;

            &--icon {
                width: 30%;
                height: 100%;
                @include image_background('', 100px 100px);
            }

            &__textContainer {
                width: 70%;
                height: 100%;
                word-wrap: break-word;

                &--label {
                    margin: 20px 20px 20px 20px;
                }
            }
        }
    }
}