<div class="pageContainer">
    <app-page-header></app-page-header>
    <div class="pageContainer__carouselContainer">
        <div class="pageContainer__carouselContainer__infoContainer">
            <div class="pageContainer__carouselContainer__infoContainer__smallHeaderContainer">New extra size 3.5M</div>
            <div class="pageContainer__carouselContainer__infoContainer__bigHeaderContainer">Il nuovo dildo con l'ortica</div>
            <div class="pageContainer__carouselContainer__infoContainer__descriptionContainer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed aug
            </div>
            <div class="pageContainer__carouselContainer__infoContainer__buttonContainer">Premimi, perfavore...</div>
        </div>
        <div class="pageContainer__carouselContainer__fotoContainer"></div>
    </div>
    <div class="pageContainer__helpInfoContainer">
        <div class="pageContainer__helpInfoContainer__helpItemContainer" *ngFor="let item of helpItem; index as i">
            <div class="pageContainer__helpInfoContainer__helpItemContainer--icon" [ngStyle]="{'background-image' : 'url(' + item.path + ')'}"></div>
            <div class="pageContainer__helpInfoContainer__helpItemContainer__textContainer">
                <div class="pageContainer__helpInfoContainer__helpItemContainer__textContainer--label">{{item.text}}</div>
            </div>
        </div>
    </div>
</div>