<div class="mainContainer">
    <app-page-header></app-page-header>
    
    <div class="mainContainer__searchResultContainer">

        <div class="mainContainer__searchResultContainer__filterPanelContainer">
            <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel">
                <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu" *ngFor="let menu of filterMenuList; index as i">
                    <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__toggleButton" (click)="toggleMenu(i)">
                        <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__toggleButton--title">{{menu.nome}}</div>
                        <div
                            class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__toggleButton--icon"
                            [ngStyle]="{'transform': menu.opened ? 'scaleY(-1)' : 'scaleY(1)'}"
                        ></div>
                    </div>
                    <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__filterContainer" [ngStyle]="{'display': !menu.opened ? 'none' : 'inline'}">
                        <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__filterContainer__item" *ngFor="let item of menu.itemMenu; index as i">
                            <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__filterContainer__item--checkbox">
                                <input type="checkbox" [checked]="item.checked">
                            </div>
                            <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__filterContainer__item--nameLabel">{{item.nome}}</div>
                            <div class="mainContainer__searchResultContainer__filterPanelContainer__filterPanel__filterMenu__filterContainer__item--quantityLabel">({{item.quantita}})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainContainer__searchResultContainer__resultPanel">
            <div class="mainContainer__searchResultContainer__resultPanel__productsOrderPanel"> qui ce vanno e cose pe ordina a lista</div>
            <div class="mainContainer__searchResultContainer__resultPanel__productsContainer">
                <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard"
                    *ngFor="let item of productList; index as i"
                >
                    <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard--brandName">{{item.marca}}</div>
                    <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productNameRank">
                        <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productNameRank--name">{{item.nome}}</div>
                        <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productNameRank--rank">
                            {{item.rank}}
                            <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productNameRank--rank--icon"></div>
                        </div>
                    </div>
                    <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard--productImage"
                        [ngStyle]="{'background-image': 'url('+item.img+')'}"></div>
                    <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productInfo">
                        <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productInfo__availability"
                            [ngStyle]="{'color': item.disponibile ? 'rgb(36, 204, 36)' : 'grey'}"
                        >
                            {{item.disponibile ? "Available" : "Not Available"}}
                        </div>
                        <div class="mainContainer__searchResultContainer__resultPanel__productsContainer__productCard__productInfo--price">€{{item.costo}}</div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

