@import "../../../assets/styles/const-style.scss";

.mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    font-family: Spartan;

    &__searchResultContainer {
        margin-top: 15px;
        width: 100%;
        height: auto;
        display: flex;

        &__filterPanelContainer {
            max-width: 330px;
            min-width: 250px;

            &__filterPanel {
                border-radius: 5px;
                background-color: $background-panel-color;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                &__filterMenu {
                    width: 80%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    transition: all 1s ease;
    
                    &:nth-child(1) {
                        margin-top: 30px;
                    }

                    &:nth-last-child(1) {
                        margin-bottom: 30px;
                    }
    
                    &__toggleButton {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 30px;
    
                        &--icon {
                            width: 15px;
                            height: 15px;
                            @include image_background('../../../assets/icons/arrow.png', contain);
                            transition: all .5s;
                        }
                    }
    
                    &__filterContainer {
                        width: 100%;
                        height: auto;
    
                        &__item {
                            display: flex;
                            margin-bottom: 5px;
    
                            & > * {
                                display: flex;
                                align-items: center;
                            }
                            
                            &--checkbox {
                                flex: 1;
                                justify-content: center;
                            }
    
                            &--nameLabel {
                                flex: 3;
                                justify-content: flex-start;
                            }
    
                            &--quantityLabel {
                                flex: 1;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

        &__resultPanel {
            width: 100%;
            height: auto;
            margin-left: 15px;

            &__productsOrderPanel {
                width: 100%;
                height: 120px;
                background-color: $background-panel-color;
                border-radius: 5px;
                display: flex;
                flex-direction: column;

                &__row {
                    // background-color: coral;
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            &__productsContainer {
                margin-top: 15px;
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 20px;

                &__productCard {
                    width: 370px;
                    height: 500px;
                    border-radius: 5px;
                    background-color: $background-panel-color;
                    position: relative;

                    &--brandName {
                        width: auto;
                        height: 40px;
                        // background-color: coral;
                        display: flex;
                        align-items: flex-end;
                        padding-left: 20px;
                    }

                    &__productNameRank {
                        width: auto;
                        height: 40px;                       
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;                        
                        margin-top: 5px;
                        font-size: 22px;
                        
                        &--name {
                            padding-left: 18px;
                            font-weight: 500;
                        }

                        &--rank {
                            padding-right: 18px;
                            display: flex;
                            gap: 3px;

                            &--icon {
                                width: 15px;
                                height: 15px;
                                @include image_background('../../../assets/icons/star.png', cover);
                            }
                        }
                    }

                    &--productImage {
                        width: 100%;
                        height: 350px;
                        @include image_background('../../../assets/imgs/product_image.png', contain);
                    }

                    &__productInfo {
                        width: 100%;
                        height: 65px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &__availability {
                            width: 100px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 30px;
                            background-color: $background-color;
                            padding-top: 1px;
                            font-weight: 500;
                        }

                        &--price {
                            padding-right: 10px;
                            height: auto;
                            font-size: 23px;
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}