<div class="pageContainer">
    <app-page-header></app-page-header>

    <div class="pageContainer__cartContainer">s
        <div class="pageContainer__cartContainer__header">
            <div class="pageContainer__cartContainer__header__label"></div>
            <div class="pageContainer__cartContainer__header__priceCount"></div>
        </div>
        <div class="pageContainer__cartContainer__itemList">
            <div class="pageContainer__cartContainer__itemList__item"></div>
        </div>
    </div>
</div>