<!-- Questo componente è atomizzato poiché sarà presente in più pagine dell'applicativo -->
<div class="topBar">
    <div class="topBar__title">
        <div class="topBar__title--icon" (click)="changePage('')"></div>
        <div class="topBar__title--label">Il migliore sito online per dildi tech</div>
    </div>
    <div class="topBar__options" *ngIf="mood=='user'">
        <div class="topBar__options__phone">
            <div class="topBar__options__phone--icon"></div>
            <div class="topBar__options__phone--label">1231232123</div>
        </div>
        <div class="topBar__options__separator"></div>
        <div class="topBar__options__customerCare">
            <div class="topBar__options__customerCare--icon"></div>
            <div class="topBar__options__customerCare--label">Customer service</div>
        </div>
    </div>
</div>
<div class="navBar" *ngIf="mood=='user'">
    <div class="navBar__searchBarContainer">
        <div class="navBar__searchBarContainer__searchBar">
            <div class="navBar__searchBarContainer__searchBar__inputContainer">
                <input type="text" [placeholder]="'Search something...'" [ngModel]="inputValue" (ngModelChange)="inputChange($event)">
            </div>
            <div class="navBar__searchBarContainer__searchBar__searchIcon"
                (click)="changePage('search')"
                *ngIf="!(currentPath === 'search')"
            ></div>
        </div>
    </div>
    <div class="navBar__loginSectionContainer" (click)="changePage('login')">
        <div class="navBar__loginSectionContainer--icon"></div>
        <div class="navBar__loginSectionContainer--label">Log in / Sign Up</div>
    </div>
    <div class="navBar__cartButtonContainer">
        <div class="navBar__cartButtonContainer--icon" (click)="changePage('cart')">
            <div class="navBar__cartButtonContainer--icon--badge">{{cartBadge}}</div>
        </div>
    </div>
</div>