/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;

    &::-webkit-scrollbar {
        display: none;
    }
}

@font-face {
    font-family: Spartan;
    src: url(/assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-VariableFont_slnt_wght.ttf);
}